/* font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'DM Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

/* Non-grid specific CSS */
body {
    margin: 10px;
    color: #ffffff;
    color: #dbdbdb;
    background-color: #374046;
    background-color: #000000;
    background-color: #1A1A1A;
    background: #161616;
    background: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.intro_wrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #1A1A1A;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro h1 {
    font-weight: 500;
    font-size: 100px;
    line-height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'DM Sans', sans-serif;
}

.intro h1 span {
    font-family: 'Bricolage Grotesque', sans-serif;
}

header {
    width: 100vw;
    /* padding: 2%;
    padding: 3% 10%; */
    padding: 2%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
}

.title {
    color: #00FFFF;
    color: #1A1A1A;
    font-size: 20px;
    line-height: 38px;
    position: relative;
}

.title span {
    padding-left: 20px;
    color: #374046;
}

.line {
    width: 90%;
    height: 1px;
    background: #000000;
    margin-top: 20px;

}


nav {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 30px;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-right: 20px;
}

nav ul li:last-child {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

header a,
nav a,
#closework {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    border: 1px solid #374046;
    /* margin-right: 50px; */
    color: #dbdbdb;
    background-color: #161616;
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.25s ease;
}

header a:hover,
nav a:hover,
#closework:hover {
    color: #1A1A1A;
    background: #ffffff;
}

header a.active,
nav a.active {
    color: #1A1A1A;
    background: #ffffff;
}

main {
    width: 100vw;
    padding: 10% 10% 0;
    padding: 2%;
    padding-bottom: 100px;
}

main>h2 {
    font-size: 8vw;
    line-height: 1.1em;
    margin: 150px 0 100px;
    color: #1A1A1A;
    letter-spacing: -3px;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin-left: -7px;
    font-weight: normal;
    display: none;
}

.whatif span {
    margin-left: 5px;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}


.work-wrapper {
    display: grid;
    grid-gap: 1%;
    grid-row-gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    /* margin-bottom: 50px; */
    position: relative;
    z-index: 0;
}

.work-wrapper.masonry {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.work {
    /* padding-top: 56.25%;
    height: 0;
    position: relative; */
    /* border: 3px solid transparent; */
    /* border-radius: 12px; */
    /* overflow: hidden; */
    list-style: none;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    /* background: #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
}

.work:hover {
    /* border: 3px solid #00FFFF; */
}

.work .cap {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    /* border-radius: 20px; */
    text-align: center;
    font-size: 1em;
    color: #1A1A1A;
    display: flex;
}

.work:hover .cap {
    display: flex;
}

.work .cap h4,
.work .cap h3 {
    font-size: 21px;
    color: #1A1A1A;
    font-weight: 500;
}

.work .cap h4 {
    font-weight: bold;
    margin-right: 15px;
    color: #374046;
    font-weight: 300;
}

.work>video,
.work>img {
    /* top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
    transform: scale(1);
    width: 100%;
    transition: all 0.2s ease-in;
}

.work:hover>video,
.work:hover>img {
    transform: scale(1.02);
}

.work.branding {
    grid-column: span 1;
}



.dis {
    padding: 0;
    height: auto;
    background: none;
    border-radius: 0;
}

.work.hide {
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(0);
    position: absolute;
    display: none;
}


.work h2 {
    font-size: 60px;
    margin: 0 0 50px 0;
}



.bio-container,
.proj-container {
    position: fixed;
    /* font-size: 25px;
    line-height: 30px; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    border-width: 0;
    border-style: solid;
    border-color: #00FFFF;
    background: #161616;
    /* background: #ffffff; */
    /* padding: 25rem 5rem 0 5rem;
    display: flex; */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.proj-container {
    display: block;
    overflow-y: scroll;
    /* position: relative; */
    width: 100%;
}

#closework {
    position: fixed;
    top: 10%;
    right: 3%;
    font-size: 16px;
    z-index: 5;
    display: none;
    /* font-size: 16px; */
    /* margin-left: 50px; */
    /* color: #00FFFF;
    text-decoration: none; */
}

/* #closework::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    background-color: currentColor;
    height: 1px;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

#closework:hover::after {
    opacity: 1;
} */

.proj {
    width: 65%;
    margin: 5% auto;
    position: relative;
}

.proj .credits {
    position: relative;
    margin: 20px 0;
}

.proj h2 {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 20px;
    color: #dbdbdb;
    font-family: 'Bricolage Grotesque', sans-serif;
    letter-spacing: -1px;
}

.proj h3 {
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    color: #00FFFF;
}

.proj h4 {
    color: antiquewhite;
    font-size: 16px;
    margin-bottom: 10px;
}

.proj p {
    font-size: 18px;
    line-height: 20px;
    color: antiquewhite;
    padding: 0 0 20px 0;
}

.proj p a {
    color: #00FFFF;
}

.proj ul {
    list-style: none;
}

.proj ul li video {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    list-style: none;
    object-fit: cover;
    object-position: center;
}

.proj ul li img,
.proj ul li video {
    width: 100%;
}


#backHome {
    color: #00FFFF;
    position: absolute;
    left: 5rem;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 !important;
}


.bio-container>div {
    /* background-color: #161616; */
    width: 29%;
    margin: 0 100px 0 0;
    /* min-height: 380px; */
}

.bio-container>div.roles {
    margin: 0 0 250px 0;
}

.bio-open:hover {
    background: #00FFFF;
}

.bio-container .letter {
    display: inline-block;
    line-height: 1em;
}

.bio-container .labels {
    color: #00FFFF;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}

.bio-container .info-big {
    font-size: 24px;
    line-height: 32px;
    color: azure;
    margin-bottom: 50px;
}

.bio-container .info-small {
    font-size: 18px;
    line-height: 28px;
    color: #dbdbdb;
}

.bio-container .info-small span {
    color: #00FFFF;
}

.bio-container .info-small a {
    color: #00FFFF;
}

.bio-container .info-small svg {}

video {
    height: auto;
    width: 100%;
}



.work.mixbag {
    padding: unset;
    height: auto;
    position: revert;
    border-radius: revert;
    opacity: 1;
}

.work.mixbag:hover {
    /* border: 3px solid transparent; */
}

.work.mixbag video,
.work.mixbag img {
    transform: scale(1);
}

:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}


.results {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
}

.card {
    padding: 0;
    /* margin: 15px 10px; */
    border-radius: var(--card_border_radius);
    position: relative;
}

.card_small {
    grid-row-end: span var(--card_small);
}

.card_medium {
    grid-row-end: span var(--card_medium);
}

.card_large {
    grid-row-end: span var(--card_large);
}

.card video,
.card img {
    width: 100%;
}

.slides {
    position: relative;
}

button {
    border: none;
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #fff !important;
    background-color: #000 !important;
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
}


.btn-left {
    left: 0%;
}

.btn-right {
    right: 0%;
}


.contenttoggle {
    display: none;
    color: #ffffff !important;
}



@media only screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    header {
        padding: 10% 8%;
    }


    main>h2 {
        margin: 15% 5% 10%;
        letter-spacing: -2px;
        font-size: 11vw;
    }

    .line {
        width: 60%;
    }

    .work-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    nav {
        bottom: 20px;
        position: fixed;
        top: initial;
        width: 100%;
        background: transparent;
        /* padding: 10px; */
    }

    nav ul li {
        margin-right: auto;

    }

    nav ul li a {
        padding: 10px;
        text-align: center;
        min-height: 50px;
    }

    main {
        padding: 15% 2%;
    }

    .bio-container {
        flex-direction: column;
        justify-content: flex-start;
        padding: 25% 0;
        overflow-y: scroll;
    }

    .bio-container>div {
        width: 90%;
        margin: 0 0 80px;
        min-height: auto;
    }

    .bio-container .info-small span {
        display: block;
    }

    .proj {
        width: 90%;
        margin-top: 20%;
    }

    .work-wrapper {
        display: flex;
        flex-wrap: wrap;

    }

    .work-wrapper .work.mixbag {
        width: 32%;
    }

    .work .cap {
        display: flex;
    }
}

@media screen and (min-width: 1900px) {
    .work-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(35%, 1fr));
    }
}


.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}

@keyframes noise-anim {
    0% {
        clip: rect(55px, 9999px, 29px, 0);
    }

    5% {
        clip: rect(52px, 9999px, 91px, 0);
    }

    10% {
        clip: rect(38px, 9999px, 39px, 0);
    }

    15% {
        clip: rect(2px, 9999px, 32px, 0);
    }

    20% {
        clip: rect(15px, 9999px, 15px, 0);
    }

    25% {
        clip: rect(68px, 9999px, 38px, 0);
    }

    30% {
        clip: rect(94px, 9999px, 2px, 0);
    }

    35% {
        clip: rect(62px, 9999px, 72px, 0);
    }

    40% {
        clip: rect(33px, 9999px, 24px, 0);
    }

    45% {
        clip: rect(37px, 9999px, 78px, 0);
    }

    50% {
        clip: rect(32px, 9999px, 18px, 0);
    }

    55% {
        clip: rect(35px, 9999px, 61px, 0);
    }

    60% {
        clip: rect(58px, 9999px, 22px, 0);
    }

    65% {
        clip: rect(65px, 9999px, 76px, 0);
    }

    70% {
        clip: rect(50px, 9999px, 32px, 0);
    }

    75% {
        clip: rect(11px, 9999px, 58px, 0);
    }

    80% {
        clip: rect(58px, 9999px, 97px, 0);
    }

    85% {
        clip: rect(62px, 9999px, 13px, 0);
    }

    90% {
        clip: rect(13px, 9999px, 13px, 0);
    }

    95% {
        clip: rect(48px, 9999px, 97px, 0);
    }

    100% {
        clip: rect(88px, 9999px, 56px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(25px, 9999px, 6px, 0);
    }

    5% {
        clip: rect(38px, 9999px, 7px, 0);
    }

    10% {
        clip: rect(21px, 9999px, 58px, 0);
    }

    15% {
        clip: rect(54px, 9999px, 21px, 0);
    }

    20% {
        clip: rect(98px, 9999px, 81px, 0);
    }

    25% {
        clip: rect(47px, 9999px, 62px, 0);
    }

    30% {
        clip: rect(11px, 9999px, 97px, 0);
    }

    35% {
        clip: rect(23px, 9999px, 44px, 0);
    }

    40% {
        clip: rect(97px, 9999px, 20px, 0);
    }

    45% {
        clip: rect(58px, 9999px, 37px, 0);
    }

    50% {
        clip: rect(23px, 9999px, 21px, 0);
    }

    55% {
        clip: rect(87px, 9999px, 79px, 0);
    }

    60% {
        clip: rect(40px, 9999px, 4px, 0);
    }

    65% {
        clip: rect(88px, 9999px, 76px, 0);
    }

    70% {
        clip: rect(17px, 9999px, 65px, 0);
    }

    75% {
        clip: rect(58px, 9999px, 22px, 0);
    }

    80% {
        clip: rect(69px, 9999px, 74px, 0);
    }

    85% {
        clip: rect(26px, 9999px, 26px, 0);
    }

    90% {
        clip: rect(27px, 9999px, 1px, 0);
    }

    95% {
        clip: rect(18px, 9999px, 93px, 0);
    }

    100% {
        clip: rect(92px, 9999px, 50px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}